/******* COINS *******/

.coin-div {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 100%;
}

.coin {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    width: 80%;
    height: 80%;
    margin: 0;
    background-color: rgb(200, 200, 200);
    border-radius: 20em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-out;
}

.coin > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0,0,0,0.4);
}


/******* BADGES *******/

.badge {
  display: none;
  position: absolute;
  top: 12%;
  right: 12%;
  height: 20%;
  width: 20%;
  background-color: #000;
  color: #fff;
  border-radius: 20em;
}

.badge > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/******* ARROWS *******/

[class^="arrow-"] {
  position: absolute;
  left: 45%;
  width: 10%;
  height: 10%;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-color: rgba(0,0,0,0);
  cursor: pointer;
  transition: 0.2s;
  z-index: 10;
}

[class^="arrow-"]:hover,
[class^="arrow-"]:focus {
  border-color: red;
}

.arrow-up {
  top: 22%;
  transform: translate(0, 100%) rotate(-45deg);
  animation: hideUpArrow 0.15s ease-in;
  animation-fill-mode: forwards;
}

.arrow-down {
  bottom: 12%;
  transform: translate(0, -50%) rotate(135deg);
  animation: hideDownArrow 0.15s ease-in;
  animation-fill-mode: forwards;
}


/******* HELPERS *******/

.coin-div:hover .arrow-up {
  animation: showUpArrow 0.2s ease-out alternate;
  animation-fill-mode: forwards;
}

.coin-div:hover .arrow-down {
  animation: showDownArrow 0.2s ease-out alternate;
  animation-fill-mode: forwards;
}

.coin-div:hover .coin {
  background-color: rgb(215,215,215);
  transition: background-color 0.2s ease-out;
}

.show {
  display: block;
}

/******* ANIMATION *******/

@keyframes showUpArrow {
  0% {
    border-color: rgba(0,0,0,0);
    transform: translate(0, 100%) rotate(-45deg);
  }
  100% {
    border-color: rgba(0,0,0,0.8);
    transform: translate(0, -50%) rotate(-45deg);
  }
}

@keyframes showDownArrow {
  0% {
    border-color: rgba(0,0,0,0);
    transform: translate(0, -200%) rotate(135deg);
  }
  100% {
    border-color: rgba(0,0,0,0.8);
    transform: translate(0, -50%) rotate(135deg);
  }
}

@keyframes hideUpArrow {
  0% {
    border-color: rgba(0,0,0,0.8);
    transform: translate(0, -50%) rotate(-45deg);
  }
  100% {
    border-color: rgba(0,0,0,0);
    transform: translate(0, 100%) rotate(-45deg);
  }
}

@keyframes hideDownArrow {
  0% {
    border-color: rgba(0,0,0,0.8);
    transform: translate(0, -50%) rotate(135deg);

  }
  100% {
    border-color: rgba(0,0,0,0);
    transform: translate(0, -200%) rotate(135deg);
  }
}


/******* MEDIA QUERIES *******/

@media only screen and (max-width: 1030px) {
  .coin-div {
      width: 50%;
      height: 50%;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
    .coin-div {
        width: 25%;
        height: 100%;
    }
}
