/******* INPUT *******/

.input-container {
  position: absolute;
  bottom: -1em;
  left: 50%;
  width: 80%;
  max-width: 40em;
  transform: translate(-50%,-50%);
}

input {
  display: block;
  width: 100%;
  font-size: 1.7em;
  margin: 0 auto 1em;
  padding: .33em 0.66em;
  background-color: rgb(245,245,245);
  border: 1px solid rgb(220,220,220);
  outline: none;
}

.input-container button {
  display: block;
  width: 100%;
  height: 5em;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  border: 0;
  box-shadow: none;
  background-image: none;
  transition: 0.2s;
  outline: none;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: rgb(60,60,60);
  outline: none;
  transition: 0.2s;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
